<h1><i>THE</i>Knight Club</h1>

{{#if id}}
  <a href="/logout" class='button'>Logout</a>
  <a href="/home" class='button'>Go Home</a>
  {{else}}
  <a href="/login" class="button">Login</a>
  <a href="/signup" class="button">Sign Up</a>
{{/if}}
